body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(#191919, #f9690e);
}

.container {
  margin: 0 auto;
}

/* Header */
@import url('https://fonts.googleapis.com/css?family=Raleway');

#header {
    background-image: linear-gradient(black, #1f1f1f);
    width: 100%;
    height: 60px;
    top: 0;
    position: sticky;
    width: 100vw;
    outline-style: solid;
    outline-color: #B7FFFA;
}
#header ul {
  list-style: none;
  word-spacing: 30px;
  display: flex;
  gap: 1rem;
}
#header li {
    text-transform: uppercase;
}
#header a {
    font-size: 18pt;
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
}
#header a:hover {
    color: #f9690e;
    transition: .3s;
}
#header nav {
  float: right;
  padding-right: 20px;
  font-family: 'Raleway', sans-serif;
}
#menu-logo {
    position: absolute;
    left: 20px;
    background-size: contain;
    display: hidden;
    width: 32px;
    height: 32px;
    padding: 13px 0 13px 0;
}
#account-icon {
  height: 32px;
  width: 32px;
}

#account-icon:hover {
  color: #f9690e;
  transition: .3s;
}

/* @media only screen and (max-width:900px) {
    #header {
        position: absolute;
    }
    #menu-icon {
        display: inline-block;
    }
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 10px;
        margin: 0;
        background: #27284d;
        right: 10px;
        width: 35%;
    }
    nav:hover ul {
        display: block;
    }
    nav li {
        text-align: center;
        width: 100%;
        margin: 0;
    }
} */

#l1 {
  display: flex;
  flex-flow: row wrap;
}


.cm-container {
  offset: 5px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cm-theme-light {
  margin-left: auto;
  margin-right: 0;
  min-width: 33%;
}